{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-alias", {
            "config": "./webpack.config.js"
          }
        ]
      ]
    }
  }
}